body {
  margin: 0;
}

.image-grid {
  --gap: 16px;
  --num-cols: 5;
  --row-height: 300px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-grid-col-3 {
  grid-column: span 3;
}

.image-grid-row-2 {
  grid-row: span 2;
}

.order-3 {
  grid-column-start: 2;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 2;
}
.order-4 {
  grid-column-start: 3;
  grid-column-end: span 5;
  grid-row-start: 1;
  grid-row-end: span 2;
}
